<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-lg-2"
      style="border-right: 1px solid rgba(0, 0, 0, 0.1)">
      <div
        class="d-lg-none d-flex py-2 px-4 align-items-center text-body sidebar-collapsed"
        (click)="sidebarCollapsed = !sidebarCollapsed"
        role="button"
      >
        <span class="mr-auto">Menu</span>
        <button
          class="btn btn-link p-0"
          aria-controls="doc-nav"
          [attr.aria-expanded]="!sidebarCollapsed"
          aria-label="Toggle documentation navigation"
        >
          <svg class="align-middle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
        </button>
      </div>
      <ngbd-side-nav
        id="doc-nav"
        [ngbCollapse]="sidebarCollapsed"
        class="d-lg-block my-3 collpase sidebar"
      ></ngbd-side-nav>
    </div>

    <div class="col-12 col-lg-10">
      <header class="bg-light pt-4 pb-md-5 px-4 px-lg-5 d-flex d-md-block align-items-center title">
        <h1 class="mb-4 mr-auto mr-md-none">{{ component | titlecase }}</h1>

        <ul class="nav nav-tabs px-4 px-lg-5 content-tabset" [class.justify-content-start]="isLargeScreenOrLess" [class.justify-content-end]="isSmallScreenOrLess">
          <li class="nav-item">
            <a
              *ngIf="hasOverview"
              class="nav-link"
              [class.active]="activeTab === 'overview'"
              [routerLink]="['/components', component, 'overview']"
            >Overview</a>
          </li>

          <li *ngIf="isLargeScreenOrLess" class="nav-item" ngbDropdown [placement]="isSmallScreenOrLess ? 'bottom-right' : 'bottom-left'">
            <a class="nav-link" [routerLink]="['/components', component, 'examples']" [class.active]="activeTab === 'examples'">
              Examples
              <a class="dropdown-toggle" ngbDropdownToggle (click)="localNav.refresh()"><span class="caret"></span></a>
            </a>
            <div
              class="dropdown-menu"
              [class.dropdown-menu-right]="isMobile"
              ngbDropdownMenu
            >
              <ngbd-content-navigation #localNav="ngbdContentNav" [dropdown]="true" [activeTab]="activeTab" [component]="component"></ngbd-content-navigation>
            </div>
          </li>

          <li *ngIf="!isLargeScreenOrLess" class="nav-item">
            <a class="nav-link" [routerLink]="['/components', component, 'examples']" [class.active]="activeTab === 'examples'">
              Examples
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/components', component, 'api']" [class.active]="activeTab === 'api'">Api</a>
          </li>
        </ul>
      </header>

      <section class="doc-content row py-5 px-2 px-md-4 px-lg-5">
        <div class="col-12 col-xl-9 px-md-0 pr-xl-4">
          <router-outlet (activate)="nav.refresh()"></router-outlet>
        </div>

        <div
          class="col-12 col-xl-3 d-none d-xl-block contextual-nav"
        >
          <ngbd-content-navigation #nav="ngbdContentNav" [activeTab]="activeTab" [component]="component"></ngbd-content-navigation>
        </div>
      </section>
    </div>
  </div>
</div>
